<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-spreadsheets">Data organizing in spreadsheets</h3>
    <ul>
      <li>Formatting data tables</li>
      <li>Quality control</li>
      <li>Exporting data</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r-ecology">Data Analysis and Visualization in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Reading and subsetting data</li>
      <li>Manipulating, filtering, and exporting data using <code>dplyr</code> and <code>tidyr</code></li>
      <li>Visualization using <code>ggplot2</code></li>
      <li>Accessing SQL databases</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-python-ecology">Data Analysis and Visualization in Python</h3>
    <ul>
      <li>Introduction to Python</li>
      <li>Reading and subsetting data</li>
      <li>Manipulating, filtering, and exporting data using <code>Pandas</code></li>
	  <li>Creating and using functions</li>
      <li>Visualization using <code>plotnine</code></li>
      <li>Accessing SQL databases</li>
      <li><a href="{{site.dc_pages}}/python-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-openrefine">OpenRefine for data cleaning</h3>
    <ul>
      <li>Working with OpenRefine</li>
      <li>Filtering, sorting, and manipulating data</li>
      <li>Writing scripts </li>
      <li>Exporting data</li>
      <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Data management with SQL</h3>
    <ul>
      <li>Intro to databases</li>
      <li>Basic queries using SQL</li>
      <li>Filtering, aggregating, and summarizing data</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li><a href="{{site.dc_pages}}/sql-ecology-lesson//reference">Reference...</a></li>
    </ul>
  </div>
</div>
